{% set wapi = extra.wapi %}
{% extends "wapi.j2" %}

{% block menu %}
{% endblock %}



{% block body %}

<pre><code>{{ data }}</code></pre>

{% endblock %}



{% block script %}
{% endblock %}
