{% set wapi = extra.wapi %}
{% extends "wapi.j2" %}

{% block menu %}
{% endblock %}



{% block body %}

<div>{{ 'all'|wapi_grapher }}</div>

<div>{{ meta.path|basename|wapi_grapher }}</div>

<pre><code>{{ data }}</code></pre>

{% endblock %}



{% block script %}
{% endblock %}
