<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ wapi_page_name|default(meta.path|basename) }}</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/fomantic-ui@2.7.2/dist/semantic.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/atom-one-light.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css">
    <style>
      {% include '/wapi/layout/wapi.css' %}
    </style>
  </head>
  <body>
    {% include '/wapi/layout/error.j2' %}
    <div id="menu" class="ui main _top fixed _inverted blue _secondary _tabular _pointing menu">
      <div class="ui dropdown icon item">
        <i class="bars icon"></i>
        <div class="menu">
          <a class="item" href="/show"><i class="home icon"></i>Home</a>
          <a class="item" href="/show?path=/etc/wapi/runs.yml"><i class="search icon"></i>Runs search</a>
          <a class="item" href="/show?path=/etc/wapi/wapi.yml"><i class="settings icon"></i>Configs</a>
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text"><i class="github icon"></i>Github</span>
            <div class="menu">
              <a class="item" href="https://github.com/vengaar/wapi"><i class="github icon"></i>wapi</a>
              <a class="item" href="https://github.com/vengaar/ansible-ws"><i class="github icon"></i>ansible-ws</a>
              <a class="item" href="https://github.com/vengaar/liftree"><i class="github icon"></i>liftree</a>
            </div>
          </div>
        </div>
      </div> <!-- end menu -->
{% if tabs is defined %}
  {% for tab in tabs %}
      <a class="item" data-tab="{{ tab.id }}">
        <i class="{{ tab.icon }} icon"></i> {{ tab.name }}
      </a>
  {% endfor %}
{% else %}
{% block menu %}
{% endblock %}
{% endif %}
      <div class="right menu">
        <div class="ui right aligned category search item">
          <div class="ui _transparent icon input">
            <input class="prompt" type="text" placeholder="Search ...">
            <i class="search link icon"></i>
          </div>
          <div id="wapi_search_result" class="results"></div>
        </div>
      </div>
    </div> <!-- end navbar -->
    <div class="ui main container">
{% if tabs is defined %}
  {% for tab in tabs %}
    <div class="ui tab" data-tab="{{ tab.id }}">
      {% include tab.template %}
    </div>
  {% endfor %}
{% else %}
{% block body %}
{% endblock %}
{% endif %}
    </div>
    <!-- scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/fomantic-ui@2.7.2/dist/semantic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/ansi_up@3.0.0/ansi_up.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
      'use strict'
      {% include '/wapi/layout/wapi.js' %}
    </script>
    <script>
      'use strict'
      try {
{% block script %}
{% endblock %}
      } catch(error) {
        show_error(error)
      }
      {% include '/wapi/layout/common.js' %}
      console.log('-- WAPI END --');
    </script>
  </body>
</html>