{% set version_semantic_ui = '2.7.8' %}
{% set version_highlightjs = '9.15.10' %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/ansible-ws/graphs/wapi.ico" />
    <title>{{ wapi_page_name|default(meta.path|basename) }}</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/fomantic-ui@{{ version_semantic_ui }}/dist/semantic.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ version_highlightjs }}/styles/atom-one-light.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css">
    <style>
      {% include '/wapi/layout/wapi.css' %}
    </style>
  </head>
  <body>
    {% include '/wapi/layout/error.j2' %}
    <div id="menu" class="ui main _top fixed _inverted blue _secondary _tabular _pointing menu">
      <a class="browse item"><i class="bars icon"></i></a>
      <div class="ui _fluid flowing popup transition hidden" style="width: 80%;">
        <div class="ui three column relaxed divided stackable grid">
          <div class="column">
            <h4 class="ui dividing header"><i class="dungeon icon"></i>WAPI</h4>
            <div class="ui fluid vertical secondary menu">
              <a class="item" href="/show"><i class="home icon"></i>Home</a>
              <a class="item" href="/show?path=/etc/wapi/runs.yml"><i class="search icon"></i>Runs</a>
              <a class="item" href="/show?path=/etc/wapi/wapi.yml"><i class="settings icon"></i>Configs</a>
            </div>
          </div>
          <div class="_four _wide column">
            <h4 class="ui dividing header"><i class="github icon"></i>Git</h4>
            <div class="ui vertical secondary menu" style="width: auto;">
              <a class="item" href="https://github.com/vengaar/wapi"><i class="github icon"></i>wapi</a>
              <a class="item" href="https://github.com/vengaar/ansible-ws"><i class="github icon"></i>ansible-ws</a>
              <a class="item" href="https://github.com/vengaar/liftree"><i class="github icon"></i>liftree</a>
            </div>
          </div>
          <div class="_height _wide column">
            <h4 class="ui dividing header"><i class="yellow star icon"></i>Favorites</h4>
            <div id="wapi-stars" class="ui vertical secondary menu" style="width: auto;">
            </div>
          </div>
        </div>
      </div>
{% if tabs is defined %}
  {% for tab in tabs %}
      <a class="item" data-tab="{{ tab.id }}">
        <i class="{{ tab.icon }} icon"></i> {{ tab.name }}
      </a>
  {% endfor %}
{% else %}
{% block menu %}
{% endblock %}
{% endif %}
      <div class="right menu">
        <div id="wapi-search" class="ui right aligned category search item">
          <div id="wapi_search_result" class="results"></div>
          <div class="ui right action left icon search input">
            <i class="search icon"></i>
            <input id="search-input" class="prompt" type="text" placeholder="Search...">
            <div id="search_cat" class="ui basic floating dropdown button">
              <div class="text">All categories</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item" data-value="">All categories</div>
{% for category in meta.config.mappings %}
  {% if category.search %}
                <div class="item" data-value="{{ category.path }}">{{ category.renderer }}</div>
  {% endif %}
{% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end navbar -->

    <div class="ui main container">
{#
    <pre>{{ meta.config.mappings|to_yaml }}</pre>
#}
{% if tabs is defined %}
  {% for tab in tabs %}
    <div class="ui tab" data-tab="{{ tab.id }}">
      {% include '/wapi/layout/tab_title.j2' %}
      {% include tab.template %}
    </div>
  {% endfor %}
{% else %}
{% block body %}
{% endblock %}
{% endif %}
    </div>

    <!-- scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/fomantic-ui@{{ version_semantic_ui }}/dist/semantic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ version_highlightjs }}/highlight.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/ansi_up@3.0.0/ansi_up.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
      'use strict'
      const path = '{{ meta.path }}'
      const file = '{{ meta.path|basename }}'
      const wapi_star_cat  = '{{ wapi_star_cat|default(meta.renderer.name) }}'
      const wapi_star_name = '{{ wapi_star_name|default(meta.path|basename) }}'
      const wapi_star_icon = '{{ wapi_star_icon|default("dungeon") }}'
      //console.log('star', wapi_star_cat, wapi_star_name, wapi_star_icon)
      {% include '/wapi/layout/wapi.js' %}
    </script>
    <script>
      'use strict'
      try {
{% block script %}
{% endblock %}
      } catch(error) {
        show_error(error)
      }
      {% include '/wapi/layout/common.js' %}
      console.log('-- WAPI END --');
    </script>
  </body>
</html>