<h3 class="ui dividing header">
{% block tab_header_right %}
{% endblock %}
  <i id="tab-icon-{{ tab.id }}" class="{{ tab_icon|default(tab.icon) }} icon"></i>
  <div class="content">
    {{ tab.title }} <i class="wapi-start star outline link icon"></i>
    <div class="sub header">{{ tab.subtitle }}</div>
  </div>
</h3>

{% block tab_content %}
{% endblock %}