<h3 class="ui dividing header">
  <i id="tab-icon-{{ tab.id }}" class="{{ tab.icon }} icon"></i>
  <div class="content">
    {{ tab.title }}
    <div class="sub header">{{ tab.subtitle|default('') }}</div>
  </div>
</h3>