<div id="error" class="ui small _basic modal">
  <div class="ui icon header">
    <i class="bug icon"></i>
    Issue
  </div>
  <div class="content">
    <p id="error_msg"></p>
  </div>
  <div class="actions">
    <div class="ui basic cancel inverted button">
      <i class="remove icon"></i>
      Ok
    </div>
  </div>
</div>