{# VARS #}
{% set wapi = extra.wapi %}
{% if data.status == 'finished' %}
  {% if data.return_code == 0 %}
    {% set status_icon = 'check' %}
    {% set status_color = 'green' %}
  {% else %}
    {% set status_icon = 'close' %}
    {% set status_color = 'red' %}
  {% endif %}
{% elif data.status == 'started' %}
  {% set status_icon = 'notched circle loading' %}
  {% set status_color = 'blue' %}
{% elif data.status == 'ready' %}
  {% set status_icon = 'pause' %}
  {% set status_color = 'greyred' %}
{% endif %}
{% extends 'wapi.j2' %}
{# PAGE #}


{% block menu %}
<a class="item" data-tab="status"><i class="tasks icon"></i>Status</a>
<a class="item" data-tab="output"><i class="terminal icon"></i>Output</a>
{% endblock %}


{% block body %}
<div class="ui tab _segment" data-tab="status">
  {% include 'wapi/run/status.j2' %}
</div>
<div class="ui tab _segment" data-tab="output">
{% include 'wapi/run/output.j2' %}
</div>
{% endblock %}


{% block script %}
{% include 'wapi/run/run.js' %}
{% endblock %}