{% extends '/wapi/common/tab.j2' %}

{% block tab_header_right %}
<div  id="facts_update"
      class="ui disabled right floated primary button">
      <i class="redo icon"></i>
      Update facts
</div>
{% endblock %}

{% block tab_content %}
<div class="ui two column stackable grid">
    <div class="column">
        {% include 'wapi/facts/summary.j2' %}
    </div>
    <div class="column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">
                    <div class="right floated meta">{{ data.ansible_memtotal_mb }} MB</div>
                    <i class="memory icon"></i>
                    Memory
                </div>
            </div>
        </div>
        <div class="ui fluid card">
            <div class="content">
                <div class="header">
                    <div class="right floated meta">{{ data.ansible_processor_vcpus }}</div>
                    <i class="microchip icon"></i>
                    vCPU
                </div>
            </div>
            <div class="extra content">
{% for i in range(2, data.ansible_processor|count, 2) %}
                <div>- {{ data.ansible_processor[i] }}</div>
{% endfor %}
            </div>
            <div class="extra content">
                <table class="ui compact definition table"><tbody>
                    <tr><td>Sockets</td><td>{{ data.ansible_processor_count }}</td></tr>
                    <tr><td>Cores</td><td>{{ data.ansible_processor_cores }}</td></tr>
                    <tr><td>Threads</td><td>{{ data.ansible_processor_threads_per_core }}</td></tr>
                </tbody></table>  
            </div>
        </div>
    </div>
</div>

<div class="ui stackable grid">
    <div class="six wide column">
        {% include 'wapi/facts/disks.j2' %}
    </div>
    <div class="ten wide column">
        {% include 'wapi/facts/fs.j2' %}
    </div>
</div>

<h4 class="ui horizontal divider header">
  <i class="ethernet icon"></i>
  Network
</h4>
<div class="ui cards">
{% for interface_name in data.ansible_interfaces %}
  {% set interface = data['ansible_' + interface_name] %}
  {% include 'wapi/facts/interface.j2' %}
{% endfor %}
</div>
{% endblock %}