<div id="error" class="ui _small _basic modal">
  <i class="close icon"></i>
  <div class="icon header">
    <i class="bug icon"></i>
    Issue
  </div>
  <div class="content">
    <pre id="error_msg" style="white-space: pre-wrap;"></pre>
  </div>
  <div class="actions">
    <div class="ui black _basic cancel _inverted button">Close</div>
  </div>
</div>