{% include '/wapi/common/tab_header.j2' %}
<button class="ui primary button cache-load"
        data-query="cache_info"
        data-action="sw2" >
  Load cache informations
</button>

<table id="cache-information" class="ui compact celled table">
  <thead>
    <tr>
      <th>Flush</th>
      <th>Cache file</th>
      <th>Category</th>
      <th>Meta</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>