{# PAGE #}
<form id="search-runs" class="ui form">

  <div class="two fields">
    <div class="field">
      <label>From</label>
      <div class="ui calendar" id="rangestart">
        <div class="ui input left icon">
          <i class="calendar alternate outline icon"></i>
          <input name="from" type="text" placeholder="Start">
        </div>
      </div>
    </div>
    <div class="field">
      <label>To</label>
      <div class="ui calendar" id="rangeend">
        <div class="ui input left icon">
          <i class="calendar alternate outline icon"></i>
          <input name="to" type="text" placeholder="End">
        </div>
      </div>
    </div>
  </div>

  <div class="two fields">
    <div class="field">
      <label>Playbook name pattern</label>
      <div class="ui left icon input">
        <input name="playbook" type="text" placeholder=".*test.yml" value="{{ data.search.playbook }}">
        <i class="book icon"></i>
      </div>
    </div>
    <div class="field">
      <label>Expected runs states</label>
      <div class="ui clearable multiple selection dropdown">
        <input id="status" type="hidden" name="states" value="{{ data.search.states|join(',') }}">
        <i class="dropdown icon"></i>
        <div class="default text">Select status</div>
        <div class="menu">
          <div class="divider"></div>
          <div id="select_all_users" class="ui toggle checkbox selectall">
            <input type="checkbox">
            <label>select all</label>
          </div>
          <div class="divider"></div>
          <div class="item" data-value="running"><i class="blue notched circle _loading icon"></i>running</div>
          <div class="item" data-value="succeeded"><i class="green check icon"></i>succeeded</div>
          <div class="item" data-value="failed"><i class="red close icon"></i> failed</div>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <button class="ui primary button">
      <i class="search icon"></i>
      Search runs
    </button>
  </div>

  <div class="ui error message"></div>

</form>

<table id="runs-tables" class="ui compact celled center aligned table">
  <thead>
    <tr class="">
      <th><i class="clock icon"></i>Begin</th>
      <th><i class="book icon"></i>Playbook</th>
      <th><i class="flag icon"></i>Status</th>
      <th><i class="linkify icon"></i>Run</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>