<h3 class="ui dividing header">
  <i class="book icon"></i>
  <div class="content">
    {{ meta.path }}
    <div class="sub header">Role documentation</div>
  </div>
</h3>

{% if data is none %}

<div class="ui info message">
  <div class="header">
    No documentation provided
  </div>
  </p></p>
</div>

{% else %}
TODO
{% endif %}

