{% include '/wapi/common/tab_header.j2' %}

{% if 'error' in wapi.keys() %}

<div class="ui negative message">
  <div class="header">Error on wapi data reading</div>
  <p>{{ wapi.error }}<p>
</div>

{% else %}

  <!-- DOC - WAPI - METADATA -->
  {% if wapi.metadata is defined %}
    {% set metadata = wapi.metadata %}
    {% set states_icons = {
            'dev':  'red flag',
            'test': 'orange flag',
            'prod': 'green flag',
        }
    %}

<table class="ui tablet stackable definition celled table">
  <tbody>
    <tr>
      <td class="right aligned">Author <i class="user circle icon"></i></td>
      <td>
    {% if 'author' in metadata %}
        {{ metadata.author|urlize }}
    {% endif %}
      </td>
    </tr>
    <tr>
      <td class="right aligned">State</td>
      <td>
    {% if 'state' in metadata %}
        <i class="{{ states_icons[metadata.state] }} icon"></i>
    {% endif %}
      </td>
    </tr>
    {% if metadata.description is defined %}
    <tr>
      <td class="right aligned">Description</td>
      <td>{{ metadata.description|to_markdown }}</td>
    </tr>
    {% endif %}
    {% for key in metadata.keys()|sort %}
      {% if key not in ('author', 'state', 'description') %}
    <tr>
      <td class="right aligned">{{ key|capitalize }}</td>
      <td>{{ metadata[key]|urlize }}</td>
    </tr>
      {% endif %}
    {% endfor %}
    {% if extra.git is defined %}
      {% if extra.git.status == 'M' %}
    <tr class="negative">
      <td class="right aligned">Git status</td>
      <td>modified (untracked={{ extra.git.untracked }})</td>
    </tr>
    <tr>
      <td class="right aligned">Git diff</td>
      <td><pre><code>{{ extra.git.diff }}</code></pre></td>
    </tr>
    {% else %}
    <tr class="positive">
      <td class="right aligned">Git status</td><td>Ok</td>
    </tr>
      {% endif %}
    {% endif %}
  </tbody>
</table>
  {% else %}

<div class="ui warning message">
  <div class="header">
    No WAPI metadata defined
  </div>
</div>

  {% endif %}


<h3 class="ui dividing header">
  <i class="play icon"></i>
  <div class="content">
    {{ meta.path }}
    <div class="sub header">WAPI launch domumentation.</div>
  </div>
</h3>

  <!-- DOC - WAPI - LAUNCH -->
  {% if wapi.launch is defined %}
<table class="ui tablet stackable definition table">
  <tbody>
    {% if wapi.launch.extra_vars is defined %}
    <tr>
      <td class="right aligned">Extra vars</td>
      <td>
        <div class="ui three stackable cards">
      {% for doc_var in wapi.launch.extra_vars %}
        {% include 'wapi/playbook/doc_var.j2' %}
      {% endfor %}
        </div>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td class="right aligned">Options</td>
      <td><code>{{ wapi.launch.options }}</code></td>
    </tr>
    <tr>
      <td class="right aligned">Inventories</td>
      <td>{{ wapi.launch.inventories }}</td>
    </tr>
  </tbody>
</table>
  {% else%}

<div class="ui message">
  <div class="header">
    No WAPI launch defined
  </div>
</div>

  {% endif %}

{% endif %}