{% set form_label_class = "ui grey top right attached label" %}
{# FORM #}

<h3 class="ui dividing header">
  <i class="play icon"></i>
  <div class="content">
    {{ meta.path }}
    <div class="sub header">Playbook launch</div>
  </div>
</h3>

{% if 'error' in wapi.keys() %}

<div class="ui negative message">
  <div class="header">Error on wapi data reading</div>
  <p>{{ wapi.error }}<p>
</div>

{% else %}

<form id="playbook_form" class="ui form">

    <input  type="hidden" name="playbook" value="{{ meta.path }}">  
    <div class="ui segment">
        <a  id="copy_cmdline" data-copy="cmdline"
            class="copy_to_clipboard ui blue top left attached label">
            <i class="copy icon"></i>copy
        </a>
        <textarea class="cmdline example"
                  name="cmdline"
                  id="cmdline"
                  spellcheck="false"
                  rows="3"></textarea>
    </div>

    <div class="ui divider"></div>

    <div class="ui stackable two column grid">
        <div class="column">
            {% include '/wapi/playbook/form_launch.j2' %}
        </div>
        <div class="column">
            {% include '/wapi/playbook/form_extra_vars.j2' %}
        </div>
    </div>

</form>

{% endif %}